.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    pointer-events: all;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 44.45px;
    border-radius: 20px 20px 0px 0px;
    background: #0008ffe2;
    border-left: #000 solid 2px;
    color: #000;
    padding: 8px 15px;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

nav
{
    ul {
        &:hover {
            ul {
                display: block;
            }
        }
    }
}

.sys {
    color: #000;

    .entry {
        padding: 10px 0px;
        cursor: pointer;

        
    }
    
    .entry:hover > .sub {
        display: block;
    }

    .show {
        display: block;
    }

    .sub {
        display: none;
        position: relative;
        top: 7px;
        right: 14px;
        background: #CCC;

        li{
            display:flex;
            padding:0.5rem;
        }
        
        li:hover, li a:hover{
            cursor: pointer;
            background:#ddd;
            color:#777;
        }
    } 

    a {
        text-decoration: none;
        color: #000;

        &:visited {
            color: #000;
        }       
    }
}

.menuslot {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 15px;  
    justify-content: flex-end;
}

.icon {
    display: flex;
    pointer-events: all;
    color: #FFF;
    cursor: pointer;
}

.active {
    color: rgb(0, 0, 0);
}

.timeset {
    display: flex;
    flex-direction: row;
}

.time {
    margin: 0px 10px;
}

@media only screen and (max-width: 480px) {
    .sys {
        color: #000;
        
        .sub {
            display: none;
            position: absolute;
            top: 44px;
            right: 3px;
            width: 99%;
            background: #CCC;
    
            li{
                display:flex;
                padding: 1rem;
                border-bottom: #000 solid 1px;
            }
            
            li:hover, li a:hover{
                cursor: pointer;
                background:#ddd;
                color:#777;
            }
        } 
    }
}