<div class="pcont">
    <div class="title">Piktogramic</div>
    <div class="hero">
        <img class="heroimg" src="./../../../assets/projects/PiktogramicShotOne.png"/>
    </div>
    <div class="about">
        <h1 class="ph1 center">Piktogramic - The GIF Game!</h1>
        <div class="text">
            <p>
                Piktogramic is a multiplayer Pictionary-like game. Think about regular pictionary - 
                except within a chat room of other players and with animated video clips! 
            </p>
            <h2 class="ph2">About</h2>
            <p class="pspc">
                Designed around the classic format of pictionary, Piktogramic brings the game to the Net.
                It features a theater-style format, where the clues to the word that the admin or system
                chooses is displayed prominently.</p>
            <p>    
                Each round runs until either a single or a small group of players guesses the correct word and win,
                or it runs out of images. If nobody guesses correctly, the round is lost. 
                <br><br>
                Currently undergoing a redesign, Pitkogramic was featured on Product Hunt when it launched!
                <br><br>
                <a href="https://www.producthunt.com/posts/piktogramic?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-piktogramic" target="_blank">
                    <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=324041&theme=dark" alt="Piktogramic - The&#0032;GIF&#0032;game&#0044;&#0032;guess&#0032;the&#0032;word&#0032;with&#0032;clues&#0032;from&#0032;GIFs | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
                </a>
            </p>
                       
        </div>

    </div>
</div>