
:host {
    display: flex;
    flex: 1 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.contactbody {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 480px;
   
    flex: 1 1;
    align-items: center;
    justify-content: center;
    .contact {
        display: flex;
        font-size: 1.6rem;
        
    }

    .qmsg {
        max-width: 75%;
        margin-bottom: 10px;
        text-align: justify;
    }

    .cbtn {
        cursor: pointer;
        display: block;
        font-size: 1.8rem;
        padding: 10px;
        background: rgb(229, 229, 229);
        color: #000;
        border: #000 solid 2px;
        border-radius: 5px;
        width: 220px;
        margin: 10px;
        text-align: center;

        &:visited {
            color: rgb(150, 150, 150);
        }
    }
}