<section (click)="detectClick()" class="display-body">
    <div class="colorbar"></div>
    <div class="circle">
        <img class="img" alt="PFP" title="PFP art by Sparklepope" src="assets/images/MerlinPFP.png">
    </div>
    <div class="intro">
        Merlin M. <br>
        Front End Developer
    </div>
    <div class="colorbar"></div>
    <div class="text">
        Ready: Press any Key
    </div>  
    <div class="arrow" (click)="detectClick()" >
        <img class="img" alt="Down Arrow - Click Here" title="Click Me" src="assets/images/ArrowDown.png">
    </div>  
</section>