:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;    
}

.display-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    font-size: 3.6rem;
    color: #000;
    width: 95%;
    min-height: 100%;
    padding-top: 70px;
}

.border {
    background: rgb(255,0,0);
    height: 25px !important;
    min-height: 25px;
    width: 100%;
    background: linear-gradient(90deg, rgba(215,82,75,1) 0%, rgba(215,82,75,1) 8%, rgba(90,222,123,1) 8%, rgba(90,222,123,1) 16%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 24%, rgba(232,206,132,1) 24%, rgba(232,206,132,1) 32%, rgb(22, 218, 54) 32%, rgb(22, 218, 54) 41%, rgba(206,90,189,1) 41%, rgba(206,90,189,1) 50%, rgba(209,206,206,1) 50%, rgba(209,206,206,1) 59%, rgba(82,82,238,1) 59%, rgba(82,82,238,1) 68%, rgba(33,206,65,1) 68%, rgba(33,206,65,1) 79%, rgba(221,208,111,1) 79%, rgba(227,216,135,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);  
    border: #000 solid 2px;
    margin: 15px 0px;
}

.intro {
    text-align: center;
}

.text {
    font-size: 1.6rem;
    text-align: center;
}

.circle {
    display: inline-block; 
    margin: 0 auto;
    width: 135px;
    height: 135px;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    border: #000 solid 2px;
    -webkit-box-shadow: inset 0px 0px 15px 11px rgba(0,0,0,0.34); 
    box-shadow: inset 0px 0px 15px 11px rgba(0,0,0,0.34);    
}

.spacer {
    display: inline;
    height: 620px;
}

@media only screen and (max-width: 650px) {
    .display-body {
        font-size: 2.8rem;
        padding-top: 40px;
    }

    .circle {
        width: 105px;
        height: 105px;    
    }    
}

@media only screen and (max-height: 500px) {
    .display-body {
        font-size: 2.8rem;
    }

    .circle {
        width: 105px;
        height: 105px;    
    }    
}

@media only screen and (max-width: 500px) {
    .display-body {
        font-size: 1.8rem;
    }

    .circle {
        width: 75px;
        height: 75px;    
    }    
}

@media only screen and (max-width: 340px) {
    .display-body {
        font-size: 1.8rem;
        padding-top: 15px !important;
    }

    .circle {
        width: 65px;
        height: 65px;    
    }    

    .border {
        margin-top: 0px;
    }
}