<div class="pcont">
    <div class="title">PacketPop</div>
    <div class="hero">
        <img class="heroimg" alt="PacketPop Screenshot" title="PacketPop Screenshot" src="assets/projects/Packetpop_Game.jpg"/>
    </div>
    <div class="about">
        <div class="text">
            <p>
                A single or multiplayer game based on the simplest activity - Popping bubbles!
            </p>
            <h2 class="ph2">About</h2>
            <p class="pspc">
                It's an online game of bubblewrap! Each player gets to choose a gem or color 
                that they prefer. Then, in a single or multiplayer game, they have a not-so-simple goal! 
            </p>
            <p>    
                Why does it get complicated? The game board is multi-colored. Each gem of the player's own 
                color is limited, and it grants bonuses when you pop your selected bubbles. Then, there are 
                potentially other players. Unless it's a private room, players can join games in progress, and
                at that point, it becomes a frenzy!
            </p>
                       
        </div>

    </div>
</div>