<div class="skillbody">
    <p>
            I come from a tech-oriented family. My first machine was a TI-99 4/A,
        and I learned some BASIC from that. Much later, I was making small WYSIWYG
        websites, and eventually graduated to using PHP, Flash and Actionscript. 
    </p> 
    <br>
    <p>
        I'm almost always working on <a routerLink="/projects">something</a>,
        developing systems using a wider variety of tools and technologies.
    </p> 
    <div class="sheader"><h1 class="h1">Skills</h1></div>

    <ul class="skillblock">
        <li class="bar" style="width:75%; background-color:#7CD14E">
            <span>HTML</span>
            <span class="percent">75%</span>
        </li>	
        <li class="bar" style="width:78%; background-color:#0055cc">
            <span>CSS</span>
            <span class="percent">78%</span>
        </li>         
        <li class="bar" style="width:82%; background-color:#E9D44D">
            <span>JavaScript</span>
            <span class="percent">82%</span>
        </li>
        <li class="bar" style="width:77%; background-color:#3178C6">
            <span>TypeScript</span>
            <span class="percent">77%</span>
        </li>        
        <li class="bar" style="width:68%; background-color:#903BA7">
            <span>C#</span>
            <span class="percent">68%</span>
        </li>    		
        <li class="bar" style="width:60%; background-color:#777BB3">
            <span>PHP</span>
            <span class="percent">60%</span>
        </li>
        <li class="bar" style="width:50%; background-color:#c8c8c8">
            <span>Figma</span>
            <span class="percent">50%</span>
        </li>          
         
    </ul>
</div>