<main class="wrapper">
  <div class="viewOutside">
    <div class="innerBlock">
    </div>
  </div>
  <div class="monitor-container">
    <div class="top"></div>
    <div class="monitor">
      <div  class="screen-block disback">
        
        <div #ScrollDisplay (wheel)="onWheel($event)" id="ScrollDisplay" class="display discol" [ngClass]="showScroll ? 'showScroll' : 'hideScroll'">
          <div id="activeView" [@routeAnimations]="animationData()" class="screenActive">  
            <router-outlet></router-outlet> 
          </div>
        </div> 
        <div class="display divadv">
          <app-header></app-header>
        </div>             
      </div>
      <div class="bottom">
        <div class="controls">
          <div class="cartridge"></div>
          <div class="block"></div>
          <div class="PowerButton">
            <section class="knob">
              <div id="volume" class="volume-knob">
                <div class="knob-inner1"></div>
                <div class="knob-inner2"></div>
              </div>
            </section>               
            <section #toggleSwitch class="panel">
              <input (click)="openMenu()" [(ngModel)]="switchOff" id="switch" type="checkbox" />
              <label for="switch"></label>
            </section>
         
          </div>
        </div>
      </div>
    </div>    
  </div>
</main>
<div class="background-wall"></div>