<main class="wrapper">
  <div class="window">
    <div class="innerBlock">
      <div class="weatherLayer" [ngClass]="dayEffect">
        <div class="sky">
        
        </div>        
      </div>
    </div>
  </div>
  <div class="monitor-container">
    <div class="monitor">
      <div class="top"></div>
      <div class="shell">
        <div  class="screen-outer">
          
          <div #ScrollDisplay id="ScrollDisplay" class="display discol showScroll">
            <div id="activeView" [@routeAnimations]="animationData()" class="screen-inner">  
              <router-outlet></router-outlet> 
            </div>
          </div>           
        </div>
        <div class="bottom">
          <div class="controls">
            <div class="cartridge"></div>
            <div class="block"></div>
            <div class="vkParent">
              <div class="knob">
                <div id="volume" class="volume-knob">
                  <div class="knob-inner"></div>
                  <div class="knob-fill"></div>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>

    </div>    
  </div>
</main>
<div class="background-wall"></div>