<div class="pagegroup">
    <div class="welcome">
        <div class="aboutStart">
            <h1 class="name">Welcome!</h1><br>
            <p> My name is Merlin. Of course, there's no relation to the wizard. 
                I prefer to bring things to life through software over magic! 
                <br><br>
            </p>
        </div>
        <div class="aboutStart">
            <h2 class="ph2">What do I do?</h2>
            <p>Primarily, I'm a Front End Developer - but also a bit of a designer, and game dev.</p>
            <div class="columngroup">
                <div class="group">
                    <h2 class="ph2 header">Front End</h2>
                    <span>JavaScript</span>
                    <span>TypeScript</span>
                    <span>HTML / CSS</span>
                    <span>Node</span>                    
                </div>                
                <div class="group">
                    <h2 class="ph2 header">Designer</h2>
                    <span>UI Design</span>
                    <span>Photoshop CC</span>
                    <span>Figma</span>
                    <span>Adobe XD</span>
                </div>   
                <div class="group">
                    <h2 class="ph2 header">Game Dev</h2>
                    <span>Unity</span>
                    <span>Canvas</span>
                    <span>Blender</span>
                    <span>Animation</span>                    
                </div>                               
            </div>
        </div>        
        
    </div>
        <div class="gotoNext">
            <div class="jumpTo">
            <ul class="menublock">
                <li><a routerLink="/skills">1: Skills</a></li>
                <li><a routerLink="/projects" href="">2: Projects</a></li>
                <li><a routerLink="/contact">3: Contact</a></li>
            </ul>
            </div>
    </div>
</div>