<div class="projects">
    <div class="notes">
        <p>These are some of the projects I've worked on, both live and for study. They range
        from apps built in Angular or React, to a full Unity Engine plugin based on C#</p>
    </div>    
    <div class="projectline">
        <project 
            [title]="'Piktogramic'" 
            [src]="'./../../../assets/projects/PiktogramicShotOne.png'" 
            [link]="'/viewer'" 
            [param]="'piktogramic'"
            [path]="'https://piktogramic.com'"
            [showGit]="false"
            >
        </project>
        <project 
            [title]="'PacketPop'"
            [src]="'./../../../assets/projects/Packetpop_Game.jpg'"
            [link]="'/viewer'" 
            [param]="'packetpop'"
            [path]="'https://packetpop.io'"
            [showGit]="false"
            >
        </project>
    </div>    
    <div class="shelfGroup">
        <div class="shelf">
            <div class="stop"></div>
            <div class="sfront"></div>
        </div>
    </div>

    <div class="projectline">
        <project 
            [title]="'FuseEngine'" 
            [src]="'./../../../assets/projects/FEPhoto.png'"
            [link]="'/viewer'" 
            [param]="'fuseengine'"
            [path]="'https://assetstore.unity.com/packages/add-ons/fuseengine-177777'"
            [showGit]="false"
            >
        </project>
        <project 
            [title]="'Rock Paper Scissors'" 
            [src]="'./../../../assets/projects/Rock_Paper_Scissors.png'"
            [showGit]="true"
            [github]="'https://github.com/DevMerlin/Frontend-Mentor-RPS'"
            [link]="'https://spectacular-rolypoly-85b075.netlify.app/normal'"
            >
        </project>        
    </div>
    <div class="shelfGroup">
        <div class="shelf">
            <div class="stop"></div>
            <div class="sfront"></div>
        </div>
    </div>

    <div class="projectline">
        <project 
            [title]="'Message Widget'" 
            [src]="'./../../../assets/projects/MessageCenterWidget.png'"
            [showGit]="true"
            [github]="'https://github.com/DevMerlin/Notifications---Frontend-Mentor'"
            [link]="'https://bejewelled-mochi-d3730e.netlify.app/'"            
        >
        </project>
    </div>   
    <div class="shelfGroup">
        <div class="shelf">
            <div class="stop"></div>
            <div class="sfront"></div>
        </div>
    </div>
</div>